<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../asserts/css/markdown.css">
    <link href="../asserts/css/dracula.min.css" rel="stylesheet">
    <script src="../asserts/js/highlight.min.js"></script>
</head>
<body>
    {{{ md }}}
    <script >hljs.initHighlightingOnLoad();</script>
</body>
</html>
